.date{
    display:flex;
    align-items: center;
    position: relative;
}
.date p{
    color: var(--clr2l2);
    padding:clamp(0.3rem,1vw,0.5rem) clamp(0.9rem,1.8vw,3rem) ;
    background-color: white;

}

.date svg{
    font-size: clamp(25px,2vw,40px);
    fill: black;
    height:unset;
    text-shadow: 1px 1px 2px rgb(184, 97, 97);
}
.date-container{
    display:inline-block;
}



.arrow{
    transition: 350ms;
    cursor: pointer;
}

.arrow.right{
    right: -100%;
}
.arrow.left{
    left: -100%;
}

.arrow.right.active{
    right:0;
}
.arrow.left.active{
    left:0;
}

#trigger-element .arrow.active.detail#detail{
    z-index: 6;
}

.arrow.active.detail p{
    background-color: var(--clr2l5);
    color: var(--clr2l1);
    position: relative;
    z-index: 3000;
}


.triangle{
    --triangle-width:35px;
    width:0;
    height:0;
}
.triangle.left{
    border-top: var(--triangle-width) solid transparent;
    border-bottom: var(--triangle-width) solid transparent;
    border-left: var(--triangle-width) solid var(--clr2l5);
}
.triangle.right{
    border-top: var(--triangle-width) solid transparent;
    border-bottom: var(--triangle-width) solid transparent;
    border-right: var(--triangle-width) solid var(--clr2l5);
}