.date{
    display:flex;
    align-items: center;
    position: relative;
}
.date p{
    color: aliceblue;
    padding:clamp(0.3rem,1vw,0.5rem) clamp(0.9rem,1.8vw,3rem) ;
    background-color: rgb(9, 158, 42);
}

.date svg{
    font-size: clamp(25px,2vw,40px);
    fill: black;
    height:unset;
}
.date-container{
    display:inline-block;
}



.arrow{
    transition: 350ms;
    cursor: pointer;
}

.arrow.right{
    right: -100%;
}
.arrow.left{
    left: -100%;
}

.arrow.right.active{
    right:0;
}
.arrow.left.active{
    left:0;
}

#trigger-element .arrow.active.detail#detail{
    z-index: 6;
}

.arrow.active.detail p{
    background-color: rgb(17, 85, 31);
}
