
.animated-title-container p{
    font-size:2.3rem;
    color:var(--clr1);
    height:1.25em;
}
.animated-title-container p span{
    position: absolute;
    z-index: 7;
    text-align: center;
}

#word0letter0{
    left: 165px;
}


@media screen and (min-width:600px){
    .animated-title-container p{
        font-size:clamp(3rem,6.5vw,8rem);
    }
    .animated-title-container p span{
        width:clamp(3rem,6.5vw,8rem);
    }
}


