.paper-plane-animation{
    background-color: var(--clr2);
    overflow: hidden;
    height: 100vh;
}
body{
    overflow-x: hidden;
}

.paper-plane{
    height: clamp(50px,15vw,70px);
    position: absolute;
    opacity: 1;
    z-index: 2;
}
.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}






