.detail-container{
    position: fixed;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 400px;
    width:350px;
    border-radius: 10px;
    z-index: 5;
    transition: 500ms;
}
.detail-container.active{
    z-index: 5;
}


h1.title{
    text-align:center;
    padding-bottom: 1rem;
    font-size: clamp(3.5rem, 3.5vw, 4rem);
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

#detail p{
    position: relative;
    line-height: 1.5;
    padding:1rem 0.3rem;
    font-size:clamp(1.3rem,1.2vw,1.4rem);
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(104, 104, 104);
    

}


@media screen and (min-width:720px){
    .detail-container{
        min-height:500px;
        width: 500px;
    }
}